SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=your@email.com
SMTP_PASSWORD=your_app_password
MAIL_FROM=Tier Gesund App <agent@tier-gesund.at>
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password
ACTUATOR_USERNAME=admin
ACTUATOR_PASSWORD=your_app_admin_user_password
VIRTUAL_HOST_PROD=www.tier-gesund.at
VIRTUAL_HOST_TEST=test.tier-gesund.at
