@import "../../../../frontend/node_modules/tailwindcss/dist/lib.d.mts";
@import "styles/base.css";

@theme {
  --color-primary: #0d6efd;
  --color-primary-hover: #0b5ed7;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #f8f9fa;
  --color-dark: #212529;
}

@layer base {
  html {
    font-size: 16px;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-sans text-gray-900 bg-white;
    overflow-x: hidden;
  }
}
